
.hero {
  height: 90vh;
  background-image: linear-gradient(
      var(--herofirstcolor),
      var(--herosecondcolor)
    ),
  url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f');
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  color: var(--firstcolor);
}

.hero .container {
  max-width: 700px;
}

.card {
  border-radius: 12px;
}

::ng-deep .typing-hero {
  display: block;

  text-align: center !important;
  margin: 0 auto !important;
  font-size: 3.5rem !important;
  font-weight: 600 !important;
}

@media (max-width: 991px) {
  ::ng-deep .typing-hero {
    font-size: 2.5rem !important;
  }
}

@media (max-width: 575px) {
  ::ng-deep .typing-hero {
    font-size: 1.8rem !important;
  }
}


