<!-- Footer -->

<footer class="footer-modern text-light mt-5 pt-5 pb-4 bg-dark">
  <div class="container">

    <div class="row g-4 justify-content-between">

      <!-- Brand -->
      <div class="col-12 col-md-4">
        <h3 class="fw-bold mb-3">
          <span class="">Nexus </span>
          <span class="text-warning">Book</span>
        </h3>

        <p class="small opacity-75">
          Espacio multifuncional: libros, coworking y cafetería.
          Inspiramos aprendizaje, comunidad y creatividad.
        </p>

        <div class="social-icons d-flex gap-3 mt-3 fs-4">
          <a href="#" class="text-light"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-light"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-light"><i class="bi bi-twitter-x"></i></a>
        </div>
      </div>

      <!-- Enlaces -->
      <div class="col-6 col-md-2">
        <h6 class="fw-bold mb-3">Explora</h6>
        <ul class="list-unstyled small opacity-75">
          <li><a routerLink="/libros" class="footer-link">Inicio</a></li>
          <li><a routerLink="/cafeteria" class="footer-link">Cafetería</a></li>
          <li><a routerLink="/coworking" class="footer-link">Coworking</a></li>
          <li><a routerLink="/contacto" class="footer-link">Contacto</a></li>
        </ul>
      </div>

      <!-- Categorías -->
      <div class="col-6 col-md-3">
        <h6 class="fw-bold mb-3 text-center">Categorías</h6>

        <div class="row">

          <!-- Column 1-->
          <div class="col-5">
            <ul class="list-unstyled small opacity-75 text-center">
              <li><a routerLink="/Ficcion" class="footer-link">Ficción</a></li>
              <li><a routerLink="/Romance" class="footer-link">No Ficción</a></li>
              <li><a routerLink="/Historia" class="footer-link">Infantil</a></li>
              <li><a routerLink="/Historia" class="footer-link">Juvenil</a></li>
            </ul>
          </div>

          <!-- Column 2-->
          <div class="col-5">
            <ul class="list-unstyled small opacity-75 text-center">
              <li><a routerLink="/Historia" class="footer-link">Cómic y Manga</a></li>
              <li><a routerLink="/Historia" class="footer-link">Audiolibros</a></li>
              <li><a routerLink="/Historia" class="footer-link">Papelería</a></li>
              <li><a routerLink="/Historia" class="footer-link">eBooks</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Newsletter -->
      <div class="col-12 col-md-3">
        <h6 class="fw-bold mb-3">Boletín</h6>

        <p class="small opacity-75">
          Recibe novedades, promociones y eventos especiales.
        </p>

        <form>
          <div class="input-group flex-nowrap rounded-3 overflow-hidden">
            <input
              type="email"
              class="form-control bg-transparent text-light border-light"
              placeholder="Tu correo">
            <button class="btn btn-warning fw-bold">OK</button>
          </div>
        </form>
      </div>

    </div>

    <hr class="mt-4 mb-3 border-light opacity-25">

    <div class="text-center small opacity-50">
      © 2025 Nexus Book — Creado con pasión por el conocimiento.
    </div>
  </div>
</footer>
